.pagination{
    max-width: 50%;
    display: block;
    margin: auto;
}
.pagination span{
 padding: 5px;
 border: 1px solid #999;
 border-radius: 5px;
 margin: 5px;
 background-color: #ddd;
 cursor: pointer;
}
.currentPage{
    font-weight: bold;
    font-size: 18px;
}