.users{ 
    margin: 5px;
    padding: 5px;
}
.userBlock{
    margin-top: 5px;
    background-color: rgb(245, 248, 250);
    display: flex;
    border-radius: 5px;
}
.avaNbutton{
    width: 10%;
}
.avaNbutton button{
    width: 100%;
    
    border: none; 
    outline: none;
}
.followbtn{
    background-color: rgb(69, 151, 62);
}
.unfollowbtn{
    background-color: #666;
}
.ava{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.nameNdescription{
    width: 80%;
    padding-left: 10px;
}
.nameNdescription h3{
    color: #666;
    
}
.location {
min-width: 10%;
}
.location h4{
    text-align:right;
    color: #666;
    padding-right: 10px;
}
.location div{
    text-align:right;
    padding-right: 10px;
}
.pagination{
    max-width: 50%;
    display: block;
    margin: auto;
}
.pagination span{
 padding: 5px;
 border: 1px solid #999;
 border-radius: 5px;
 margin: 5px;
 background-color: #ddd;
 cursor: pointer;
}

.currentPage{
    font-weight: bold;
    color: #333;
    font-size: 20px;
}
