.item {
    color: #222;
}

.addPostStyle{
    padding:5px;
}
.addPostStyle textarea{
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
}
.addPostStyle button{
    margin-top: -20px;
    margin: 5px;
}
