.sidebar {
    grid-area: nav;
    background-color: #bbb;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
  }
  
.item{
    color:#999
}
.item a{
  color:#222
}
.item a.activeLink{
  color:#666;
  text-decoration: none;  
}