.header {
    grid-area: header;
    background-color: #bbb;
    border-radius: 5px;
    margin: 2px;
    vertical-align: middle;
    line-height: 55px;
  }
.header img{
    height: 55px;
  }

.header  span{
    font-size: 55px;
    color:#ddd;
    font-weight: bold;
  }
.header a {
  text-decoration: none;
}
.loginBlock{
    float: right;
    padding-right: 5px;
}
.loginBlock a{
    font-weight: bold;
    color:#ddd;
    padding-right: 10px;
}
.logout{

  cursor: pointer;
  padding: 0px;
}