.profileHeadImg{
   height: 150px;
   width: 100%;
   margin: -5px;
}

.imageContainer{
    height: 150px;
    min-width:100%;
}
.userInfo{
    padding: 10px;
    margin-bottom:5px;
    background-color: #ddd;
    border-radius: 5px;
}
.userAvatar{
    width: 80px;
    border-radius: 40px;
    float: left;
    margin-right: 10px;
}
.status{
    min-width: 100%;
    border-radius: 5px;
    height: 30px;
}