.dialogsWrapper{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs{
    padding: 10px;
}
.dialog{
    border-radius: 5px;
    background-color: #ccc;
    margin: 3px;
    padding: 3px;
}
.messages{
    padding: 10px;
    border-left: 6px solid #666;
}
.message{
    
}
.dialogs .activeDialog{
    color: rgb(131, 131, 131);
}
.dialogLink{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.activeDialog{
    color:#333;
    font-size: 18px;
}