.dialogsWrapper{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs{
    padding: 10px;
}

.messages{
    padding: 10px;
    border-left: 6px solid #666;
}
.message{
    font-style: italic;
}
.sendMessage{
    min-width: 100%;
}
.dialogs .activeDialog{
    color: rgb(131, 131, 131);
}

.activeDialog{
    color:#333;
    font-size: 18px;
}

